.card {
  background-color: rgb(182, 182, 182);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding-bottom: 10px;
  border-radius: 3px;
}

.card img {
  margin: 10px auto;
  width: 90%;
  height: 300px;
  display: block;
}

.card:hover {
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: rgb(158, 154, 154);
}

p,
h3 {
  margin: 0 14px !important;
}
